.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to fill the entire viewport */
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .title-content {
    text-align: center;
  }
  